@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1f293a;
}

.container {
  position: relative;
  width: 297px;
  height: 431px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container span {
  position: absolute;
  left: 0;
  width: 33px;
  height: 6px;
  background: #2c4766;
  border-radius: 8px;
  transform-origin: 150px;
  transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
  animation: animateBlink 3s linear infinite;
  animation-delay: calc(var(--i) * (3s / 50));
}

@keyframes animateBlink {
  0% {
    background: #0ef;
  }
  25% {
    background: #2c4766;
  }
}

.log_in {
  position: absolute;
  width: 406px;
}

.log_in form {
  width: 100%;
  padding: 0 50px;
  margin-bottom: -35px;
}

h2 {
  font-size: 1.8rem;
  color: #0ef;
  text-align: center;
  height: 31px;
}

.input_box {
  position: relative;
  margin: 25px 0;
}

.input_box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid #2c4766;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 20px;
  transition: 0.5s ease;
  border-radius: 40px;
}

.input_box input:focus,
.input_box input:valid {
  border-color: #0ef;
}

.input_box label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1em;
  color: white;
  pointer-events: none;
  transition: 0.5s ease;
}

.input_box input:focus ~ label,
.input_box input:valid ~ label {
  top: 1px;
  font-size: 0.8em;
  background: #1f293a;
  padding: 0 6px;
  color: #0ef;
}

.forgot_password {
  margin: -15px 0 10px;
  text-align: center;
}

.forgot_password a {
  font-size: 0.85em;
  color: #fff;
  text-decoration: none;
}

.forgot_password a :hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #0ef;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #1f293a;
  font-weight: 600;
}

.sign_up {
  margin: 20px 0 10px;
  text-align: center;
}

.sign_up a {
  font-size: 1em;
  color: #0ef;
  text-decoration: none;
  font-size: 600;
}

.sign_up a:hover {
  text-decoration: underline;
}
